In [1]:
#Importação das bibliotecas
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
#Importação de dados
df = pd.read_csv('wine_dataset.csv')
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

# PROCESSAMENTO DE DADOS

In [3]:
#Convertendo tipo de dados objeto para inteiro
df['style'] = df['style'].replace('red',0)
df['style'] = df['style'].replace('white',1)
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [4]:
#Dividindo features(X) e target(y)
X = df.drop('style',axis=1)
y = df['style']

In [5]:
#Separação de dados de treino e teste 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

# CONSTRUÇÃO MÁQUINA PREDITIVA

In [6]:
#Importando biblioteca e construindo máquina preditiva
from sklearn.ensemble import ExtraTreesClassifier
modelo = ExtraTreesClassifier()
modelo.fit(X_train,y_train)
result = modelo.score(X_test,y_test)
print('Precisão:',result )

Precisão: 0.9964102564102564

In [7]:
#Análise de Máquina preditiva
print(y_test[0:5])
previsao = modelo.predict(X_test[0:5])
print(previsao)

5970    1
1759    1
407     0
4224    1
2014    1
Name: style, dtype: int64
[1 1 0 1 1]